<div class="login-container">
  <div nz-row>
      <div nz-col nzSpan="24" >
        <div class="top">
          <div  class="header">
            <a href="https://ng.ant.design">
              <img src="favicon.ico" alt="logo" class="logo">
              <span class="title">心电诊疗中心</span>
            </a>
          </div>
          <div class="desc">
            河南省心电学诊疗中心管理平台
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24" >
          <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">
          <nz-form-item>
          <nz-form-control>
              <nz-input-group nzPrefixIcon="user">
                  <input type="text" class="form-input" nz-input formControlName="username" placeholder="用户名" />
              </nz-input-group>
              <nz-form-explain 
                  *ngIf="loginForm.get('username')?.dirty && loginForm.get('username')?.errors">
                  用户名必填
              </nz-form-explain>
          </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <nz-input-group nzPrefixIcon="lock">
                      <input type="password" class="form-input" nz-input formControlName="password" placeholder="密码" />
                  </nz-input-group>
                  <nz-form-explain
                      *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
                      密码必填
                  </nz-form-explain>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <nz-input-group nzPrefixIcon="smile" style="width: 58%;">
                      <input type="text" class="form-input" nz-input formControlName="validCode" placeholder="验证码" />
                  </nz-input-group>
                  <img src="data:image/jpeg;base64,{{imgCode}}" 
                      class="image-code" 
                  (click)="getValid()" style="">
                  <nz-form-explain
                      *ngIf="loginForm.get('validCode')?.dirty && loginForm.get('validCode')?.errors">
                      验证码必填
                  </nz-form-explain>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-control>
                  <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLogin">登陆</button>
              </nz-form-control>
          </nz-form-item>
          </form>
      </div>
      <div nz-col nzSpan="24" style="margin-top: 55px;">
          <div class="footer">
              <div  class="copyright">
                  Copyright © 2019 
              <a data-v-b89772ce="" 
                  href="https://ng.ant.design" target="_blank">Angular Ant Zorro</a>
              </div>
          </div>
      </div>
  </div>
</div>
