<div class="operate">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" 
        style="width: 20%;margin-bottom: 20px;">
      <input type="text" nz-input [(ngModel)]="username" placeholder="输入标题名搜索" />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="queryPages(true)">
            <i nz-icon nzType="search"></i>
        </button>
    </ng-template>
</div>
<nz-table #userTable
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageNum"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="queryPages()"
    (nzPageSizeChange)="queryPages(true)"
    nzSize="middle" 
    [nzScroll]="{ x: '1000px', y: '300px' }"
    [nzData]="userList">
    <thead>
        <tr>
            <th nzWidth="100px">所属栏目</th>
            <th nzWidth="100px">标题</th>
            <th nzWidth="100px">创建日期</th>
            <th nzWidth="50px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of userTable.data">
            <td>{{ data.noticeType }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.addTime }}</td>
            <td>
                <a (click)="delete(data.id, data.name)" *ngIf="data.valid==0">
                    <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>